.mainContainer {
    background: #fff;
    border-radius: 0.125rem;
    padding:0.5rem;
    color: #132943;
    -webkit-box-shadow: 0px 4px 8px -4px #000000;
    box-shadow: 0px 4px 8px -4px #000000;
    margin-bottom: 0.75rem;
}